*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(103, 103, 103);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
body{
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
   
}
#heade{
    background: url(/images/recettes.jpg) no-repeat top right/cover;
    padding: 30px;
    border-bottom: 1px solid rgb(188, 188, 188);
}
#btn-singup{
    color: red;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    border-radius: 30px;
    padding: 10px 20px;
}
#btn-login{
    color: red;
    font-weight: 600;
    font-size: 18px;
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px #d5d6d5;
}
#search{
    background: white;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 4px 4px 10px #dbdcdb;
}
#search > button {
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    background: transparent;
}
#input-search{
    outline: none;
    padding: 5px;
    border: none;
}
#mainmenu{
    max-width: 800px;
    margin-right: 50px;
}
.title{
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.title > h1 {
    margin: 0 auto;
    font-weight: 800;
}
.section-navbar-main{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}
.wrapper-main-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 5px;
}
.list-a{
    padding: 15px;
    background: white;
    display: flex;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px #dbdcdb;
}
.list-a > li > a{
    padding: 5px 20px;
    margin: 0px 3px;
    border: 1px solid transparent;
    transition: .5s;
}
.list-a > li > a:hover ,#all{
    color: red;
    border: 1px solid #7f807f;
    border-radius: 20px;
}

#drop{
    align-items: center;
    display: flex;
    padding: 15px 20px;
    background: white;
    border-radius: 30px;
    margin-top: -15px;
    box-shadow: 4px 4px 10px #dbdcdb;
}
#drop > div > a {
    color: rgb(103, 103, 103);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.views > h1 {
    font-size: 16px;
    color: #7f807f;
}
.views{
    width: 100%;
    padding-left: 100px;
}
.views > h1 > span {
    color: rgb(255, 0, 0);
    font-weight: 700;
}
.section-wrapper-recipes{
    width: 90%;
    display: flex;
    padding: 50px 20px 0px 20px;
    margin: 0 auto;
    justify-content: space-between;
}
.recipes{
    width: 65%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.humains{
    width: 35%;
    padding: 10px;
}

.wrapper-card{
    background: white;
    padding: 10px 0px;
    margin: 30px 3px;
    box-shadow: 4px 4px 10px #dbdcdb;
}
.card-recipes{
    width: 205px;
}
.img{
    width: 80%;
    margin: 0 auto;
}
#img-recipes{
    margin-top: -50px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 8px 8px 10px #787777;
}
.content-recipes{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.content-recipes > h2 , h3{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.content-recipes > h3 > span{
    font-size: 12px;
    color: #8b8c8b;
}
.comments{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0px;
    position: relative;
}
.comments >h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #7f807f;
    cursor: pointer;
}
.comments >button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #7f807f;
    cursor: pointer;
}
.wrapper-users{
    background: white;
    color: red;
    padding: 10px;
    box-shadow: 4px 4px 10px #dbdcdb;
    border-radius: 12px;
}
.users{
    overflow: auto;
    max-height: 220px;
}
#users-title{
    font-weight: 700;
    text-transform: uppercase;
}
.users-content{
    width: 90%;
    background: white;
    border-radius: 12px;
    margin: 5px auto;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 10px #dbdcdb;
}
.full-name{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.full-name > h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    padding-top: 10px;
    text-align: center;

}
#user-recipes{
    font-weight: 400;
    font-size: 12px;
    color: #7f807f;
}
#status{
    font-size: 10px;
    color: green;
    font-weight: 300;

}
#user-img{
    border-right: .5px solid black;
}
/* mohamed haouari  */
/* .filter-section {
    margin-top: 20px;
} */

/* .filter-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
} */

#category-filter {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.wrapper-add{
    margin-top: 5px;
    background: white;
    color: red;
    padding: 10px;
    box-shadow: 4px 4px 10px #dbdcdb;
    border-radius: 12px;
    text-align: center;
}
#image_input {
    display: none;
}
#label-img{
    padding: 10px;
    border: 1px dashed rgb(244, 141, 141);
    max-width: 150px;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 8px;
}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.form > input {
    max-width: 200px;
    margin: 2px auto;
    padding: 8px 10px;
    box-shadow: 4px 4px 10px #dbdcdb;
    border: none;
    border-radius: 8px;
}
.form > button {
    margin: 10px auto;
    padding: 10px 20px;
   
    border-radius: 12px ;
    box-shadow: 4px 4px 10px #dbdcdb;
    
    font-weight: 800;
    transition: .6s;
    text-transform: uppercase;
}
.form > button:hover{
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 12px ;
    box-shadow: 4px 4px 10px #dbdcdb;
    background: red;
    color: white;
    font-weight: 800;
}
.parent-com{
    position: absolute;
    bottom: -40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.182);
    backdrop-filter:blur(20px);
    border-radius: 30px;
    box-shadow: 4px 4px 10px #dbdcdb;
    display: none;
}
.comments-card{
    max-width: 100px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    outline: none;
 
}
.pagin{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#numero{
    margin: 0 auto;
    width: 90%;
    text-align: left;
}
.w3-bar{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 50px;
    width: 650px;
    margin-left: 25px;
}
.w3-bar > a{
    padding:15px 25px ;
    font-size: 14px;
}

/* Page_Home : */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
   
}

.titre{
    font-family:"HoloLens MDL2 Assets";
    font-size: 66px;
}
.container{
    display: flex ;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
#part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.images{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.img{
    width: 160px;
    height: 130px;
    border-radius:4px;
}
#btnAdd {
     background-color: #df0051; /* Green color */
     border-radius: calc(infinity * 1px);
     color: white;
     border: none;
     padding: 13px 39px;
     text-align: center;
     text-decoration: none;
     font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
     cursor: pointer;
 }
#btnAdd:hover {
    background-color: #ec1fd8; /* Darker green on hover */
}
.hrefExplore{
    color:#df0051;
    font-size: 16px;
    
}
.BtnExplore{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#part >p >span{
    color: #df0051;
}


.add-com{
    border: none;
    padding: 10px;
    border-radius: 30px;
    color: rgb(189, 65, 65);
    background: white;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 4px 4px 10px #dbdcdb;
}
.show-card{
    width: 100%;
    height: 100%;
    background: #ffffff23;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
}
.wrapper-show-card{
    width: 60%;
    height: 80%;
    background: url(Modern\ Business\ Notion\ Header.png);
    border-radius: 15px;
    box-shadow: 4px 4px 10px #dbdcdb;
}
.t-img{
    width: 20%;
    border-radius: 12px;
    background: #e9e7e7;
    box-shadow: 8px 8px 10px #adaead;
    margin: 20px 5px 10px 20px;
}
.t-img > img {
    border-radius: 12px;
}
.titre > h5 ,.show-comments > h1{
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin: 2px auto;
    padding: 10px 10px ;
    background: white;
    box-shadow: 4px 4px 10px #e1e1e1;
    border-radius: 12px;
}

.show-comments > p{
    font-weight: 800;
    font-size: 30px;
    color: red;
}

.alert{
    display: flex;
    margin: 0 auto;
    position: fixed;
    left: 430px;
    top: 20px;
    background:rgb(198, 232, 198);
    color: green;
    font-weight: 700;
    z-index: 999;
    box-shadow: 0 4px 20px rgb(107, 107, 107);
    align-items: center;
    justify-content: center;
    transition: .8s;
    display: none;
}
.alert > h1{
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.alert > p {
    padding-top: 7px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    font-weight: 400;
}
/*Header de la partie Home */


.header{
    padding: 0;
    margin: 0;
    
}

.body{
    width: 100%;
    height: 120vh;
    background-image: url(images/Recette.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#btn-Singup{
    color: red;
    font-weight: 700;
    font-size: 18px;
    background: transparent;
    border-radius: 30px;
    padding: 10px 20px;
}
#btn-Login{
    color: red;
    font-weight: 700;
    font-size: 18px;
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 4px 4px 10px #8b8c8b;
}
#Search{
    background: white;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 4px 4px 10px #dbdcdb;
}
#Search > button {
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    background: transparent;
}
#Input-search{
    outline: none;
    padding: 5px;
    border: none;
}

/* footer */

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    font-weight: bolder;
}

.footer .icons{
    display: flex;
    gap: 30px;
}

.footer .icons img{
    width: 40px;
    height: 40px;
}

.footer .links{
    display: flex;
    gap: 20px;
}

.footer .links a{
    text-decoration: none;
    font-size: 20px;
}

.copyghit{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: gray;
}


